* {
    font-family: 'Belanosima', sans-serif;
    background-color: #1F8A70;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* HEADER */

.encabezado {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.encabezado nav {
    width: 100%;
}

.barraSuperior {
    display: flex;
    flex-direction: row;
    justify-content: center;    
    text-align: center;
    margin: 5px;
    background-color: #1F8A70;
    font-size: 30px;
}

.item-header{
    list-style: none;
    text-decoration: none;
}

.item{
    font-size: 20px;
    text-decoration: none;
    margin: 5px;
}


/* BANNER */

.banner {
    position: relative;
    width: 90vw;
    margin: auto auto;
}

h1 {
    font-family: 'Belanosima', sans-serif;
    font-size: 2rem;
    color: #EFF5F5;
    background-color: #00425A;
    padding: 20px;
    width: 100%;
    text-align: center;
}

.opciones {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 5%;
    margin: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.banner-text{
    margin: 5px;
}

.banner-text a, p {
    text-decoration: none;
    color: #EFF5F5
    ;
}

img {
    width: 100%;
}
/* MEDIA QUERIES */




@media (max-width: 768px) {
    .banner-text p {
        display: none;
        
    }
}






/* FOOTER */

#pieDePagina {
    width: 100vw;
    margin: 5px;
    padding: 5px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.pie-de-pagina-item {
    list-style: none;
    text-decoration: none;
    
}

h4 {
    color: #181823;
    padding: 20px;
    width: 100%;
    text-align: center;
}
.h4 {
    width: 100%;
}

.redesSociales {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

.mapa {
    width: 100%;
    display: flex;
}

.contacticon{
    display: flex;
    align-items: center;
}

.contacticon ion-icon{
    margin-right: 6px;
}

.contacticon a{
    text-decoration: none;
    }

ion-icon {
    color: #EFF5F5;
    font-size: 2rem;
    display: flex;
    justify-content: center;
}

@media (max-width: 320px) {
    .banner-text a, p {
        display: none;
        
    }
    .pie-de-pagina-item {
        flex-direction: column;
    }
    .contenedor {
        width: 100%;
    }

}

/* FORM */

.contacto-container{
   height: 100vh;
}

form {
    align-items: center;
    justify-content: center;
    padding: 50px 55px 85px 55px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    width: 340px;
}

/* MEDIA QUERIES */

@media (min-width: 320px) {
    form {
        height: 80vh;
    }
}

@media (max-width: 768px) {
    form {
        height: 50vh;
    }
}

.input-group {
    display: flex;
    flex-direction: column;
    text-align: center;
}

h3 {
    color: #181823;
    font-size: 35px;
    margin: 0;
    text-align: center;
}

label {
    color: #EFF5F5;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

input {
    padding: 17px 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 2px solid white;
    color: #181823;
}

input::placeholder {
    color: #EFF5F5;
}

.btn {
    font-size: 16px;
}

.contact-container {
    background-image: url(../img/backformulario.jpg);
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
}

#fondoFormulario {
    background-image: url("backformulario.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: none;
}